#hostapd-wpe (v2.9)
#dnsmasq (v2.80)

PyRIC==0.1.6.3
pony==0.7.13
scapy==2.4.4
Jinja2==2.11.2
psutil==5.7.3
python-iptables==1.0.0
prompt-toolkit==3.0.8
py2neo==2020.0.0
manuf==1.1.1
sortedcontainers==2.2.2
